.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    width: 300px;
    transition: all 1.2s ease-in-out;
}

.sidebar-content {
    position: fixed;
    left: -200px;
    transition: all 1.2s ease-in-out;
    padding-left: 10px;
}


.expand-button {
    position: fixed;
    color: #000000;
    font-size: 16px;
    transition: all 1.2s ease-in-out;
}

.sidebar.expanded .expand-button {
    transform: translateX(270px);
    transition: all 1.2s ease-in-out;
}

.sidebar.expanded .sidebar-content {
    transform: translateX(200px);
    transition: all 1.2s ease-in-out;
}

.icon {
    margin-left: 10px;
    font-size: 24px;
}

.icon.expanded {
    transform: rotate(180deg);
}
