h1 {
    font-size: 1.5rem;
}

.filterButton {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: #333;
}

.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    width: 300px;
    transition: all 1.2s ease-in-out;
}

.sidebar-content {
    position: fixed;
    left: -290px;
    transition: all 1.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 90px;
}


.expand-button {
    position: fixed;
    color: #000000;
    font-size: 16px;
    transition: all 1.2s ease-in-out;
}

.sidebar.expanded .expand-button {
    transform: translateX(270px);
    transition: all 1.2s ease-in-out;
}

.sidebar.expanded .sidebar-content {
    transform: translateX(290px);
    transition: all 1.2s ease-in-out;
}

.icon {
    margin-left: 10px;
    font-size: 24px;
}

.icon.expanded {
    transform: rotate(180deg);
}
